debug/Libraries/EMlib/3rd-party/EMLib/usb/src/*.o
debug/Libraries/EMlib/3rd-party/EMLib/usb/src/*.d
debug/*.bin
debug/*.map
debug/*.out
debug/objects/*.o
debug/objects/*.d
debug/objects/legacy/source/*.o
debug/objects/legacy/source/*.d
debug/objects/source/Adc/*.o
debug/objects/source/Adc/*.d
debug/objects/source/*.o
debug/objects/source/*.d
debug/objects/source/Connectivity/*.o
debug/objects/source/Connectivity/*.d
debug/objects/source/Private/ServalStack/src/TLS_MbedTLS/*.o
debug/objects/source/Private/ServalStack/src/TLS_MbedTLS/*.d
debug/objects/source/Sensor/*.o
debug/objects/source/Sensor/*.d
debug/objects/source/Utility/*.o
debug/objects/source/Utility/*.d
*.bin
*.hex
*.tmp

